VITE_THE_ODDS_API_KEY=your_the_odds_api_key
VITE_API_FOOTBALL_KEY=your_api_football_key
VITE_ODDS_SPORT=soccer_epl
VITE_ODDS_REGIONS=uk,eu
VITE_ODDS_MARKETS=h2h,totals
VITE_ODDS_BOOKMAKERS=
VITE_API_FOOTBALL_LEAGUE_ID=39
VITE_API_FOOTBALL_SEASON=2026
